<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <title>Login Form</title>


    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:600'>

    <link rel="stylesheet" href="{{ asset('css/style.css') }}">


</head>
<body>
<div>
    {% trans_default_domain 'FOSUserBundle' %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {#{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
        <a href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>#}
        {% else %}
            <div class="login-wrap">
                <div class="login-html">
                    <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
                    <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
                    <div class="login-form">
                        <div class="sign-in-htm">
                            <div class="group">
                                <label for="username">{{ 'security.login.username'|trans }}</label>
                                <input type="text" id="username" name="_username" class="input" value="{{ last_username }}" required="required" autocomplete="username" />

                            </div>
                            <div class="group">
                                <label for="password">{{ 'security.login.password'|trans }}</label>
                                <input type="password" id="password" name="_password" required="required" class="input" data-type="password" autocomplete="current-password" />
                            </div>
                            <div class="group">

                                <input id="check" type="checkbox" value="on" class="check" checked>
                                <label for="check"><span class="icon"></span> {{ 'security.login.remember_me'|trans }} </label>
                            </div>
                            <div class="group">
                                <input type="submit" id="_submit" name="_submit" value="sign in" class="button value="{{ 'security.login.submit'|trans }}" />
                            </div>

                            <div class="hr"></div>
                            <div class="foot-lnk">
                                <a href="#forgot">Forgot Password?</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
    </form>
      {% endif %}
</div>





</body>
</html>